<div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
  <a class="nav-link" href="/catalog">Home</a>
  <a class="nav-link" href="/catalog/books">Books</a>
  <a class="nav-link" href="/catalog/authors">Authors</a>
  <a class="nav-link" href="/catalog/genres">Genres</a>
  <a class="nav-link" href="/catalog/bookinstances">book-instances</a>
</div>
<hr>
<div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
  <a class="nav-link" href="/catalog/book/create">New book</a>
  <a class="nav-link" href="/catalog/author/create">New author</a>
  <a class="nav-link" href="/catalog/genre/create">New genre</a>
  <a class="nav-link" href="/catalog/bookinstance/create">Create new book instance (copy)</a>
</div>
